<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <script src="{{ "/assets/js/index.js" | relative_url }}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header id="header">
        <div class="name_plate">
          <div>
            <h1>Damien Apilando</h1>
            <h3>User Experience Designer</h3>
          </div>
        </div>
    
        <div class="navbar-wrapper">
          <nav id="navbar">
            <ul>
              <li><a href="index.html" id="navbar_home" onclick="navigate()" >Home</a></li>
              <li><a href="about.html" id="navbar_about" onclick="navigate()">About</a></li>
              <li><a href="" id="navbar_contact" onclick="navigate()">Contact</a></li>
            </ul> 
          </nav>
        </div>
      </header>


      <script>
        let navbar_home = document.getElementById("navbar_home");
        let navbar_about = document.getElementById("navbar_about");
        let navbar_contact = document.getElementById("navbar_contact");

        let path = window.location.pathname;
        let page = path.split("/").pop();
        console.log( page );

        if(page=="index.html") navbar_home.classList.add("navbar_current");
        if(page=="about.html") navbar_about.classList.add("navbar_current");
  
        function navigate( loc )
        {
          navbar_home.classList.remove("navbar_current");
          navbar_about.classList.remove("navbar_current");
          navbar_contact.classList.remove("navbar_current");
          
          if(loc==navbar_home) {navbar_home.classList.add("navbar_current");return;}
          if(loc==navbar_about) {navbar_about.classList.add("navbar_current");return;}
          if(loc==navbar_contact) {navbar_contact.classList.add("navbar_current");return;}
  
        }
        
      </script>


      <section>

      {{ content }}

      </section>


      <footer>
        <div class="footer_separator"> </div>

        {% if site.github.is_project_page %}
        <p>This page is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}

        <p><small>Hosted on GitHub Pages</small></p>
      </footer>


    </div>
  </body>
</html>
