<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <script src="{{ "/assets/js/index.js" | relative_url }}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header id="header">
        <div class="name_plate">
          <div>
            <h1>Damien Apilando</h1>
            <h3>User Experience Designer</h3>
          </div>
        </div>
    
        <div class="navbar-wrapper">
          <nav id="navbar">
            <ul>
              <li><a href="/" id="navbar_home" onclick="navigate(this)" >Home</a></li>
              <li><a href="about.html" id="navbar_about" onclick="navigate(this)">About</a></li>
              <li><a href="contact.html" id="navbar_contact" onclick="navigate(this)">Contact</a></li>
            </ul> 
          </nav>
        </div>
      </header>
      
      <section>

      {{ content }}

      </section>


      <footer>
        <div class="footer_separator"> </div>

        {% if site.github.is_project_page %}
        <p>This page is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}

        <p><small>Hosted on GitHub Pages</small></p>
      </footer>


    </div>
  </body>
</html>
